.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 72px;

    background: #111;
    border-top: 1px solid #222;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    z-index: 10;

    .player-info,
    .player-controls,
    .player-seek {
        width: 33.33%;
    }

    .player-info {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .cover {
            width: 56px;
            height: 56px;

            object-fit: cover;

            border-radius: 6px;
            flex-shrink: 0;
        }

        .track-meta {
            min-width: 0;
            display: flex;
            flex-direction: column;

            .title,
            .author {
                margin: 0;
            }

            .title {
                font-family: 'Courier New', Courier, monospace;
                font-weight: 700;
                font-size: 1.1rem;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: white;
            }

            .author {
                font-size: 0.9rem;
                opacity: 0.7;
            }
        }
    }

    .player-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        button {
            border: none;
            background: none;
            cursor: pointer;

            font-size: 1.2rem;

            &:nth-child(2) {
                font-size: 1.5rem;
            }
        }
    }

    .player-seek {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.75rem;

        input[type="range"] {
            max-width: 220px;
            width: 30%;
        }

        .player-time {
            min-width: 90px;

            display: flex;
            justify-content: center;
            gap: 0.25rem;

            font-size: 0.9rem;
            white-space: nowrap;
        }
    }
}